# Texas Instruments AM437x Industrial Development Kit

# The JTAG interface is built directly on the board.
source [find interface/ftdi/olimex-arm-usb-ocd.cfg]

transport select jtag
adapter_khz 300

source [find target/stm32f3x.cfg]

#reset_config trst_and_srst
